In [3]:
import pandas as pd

In [95]:
number = list(range(1993,2020))
data = ['_BhumibolDam_lat_17.14_lon_99.3_376203','_ChiangMai_lat_18.472_lon_98.583_327501','_ChiangRai_lat_19.574_lon_99.525_303201','_ChiangRaiAgromet_lat_19.521_lon_99.465_303301','_DoiMuserAgromet_lat_16.45_lon_98.56_376301','_KamphaengPhet_lat_16.29_lon_99.32_380201',
     '_Lampang_lat_18.17_lon_99.31_328201','_LampangAgromet_lat_18.19_lon_99.17_328301','_Lamphun_lat_18.34_lon_99.2_329201','_LomSak_lat_16.462_lon_101.145_379401',
     '_MaeHongSon_lat_19.18_lon_97.5_300201','_MaeSariang_lat_18.1_lon_97.56_300202','_MaeSot_lat_16.393_lon_98.33_376202',
     '_NakhonSawan_lat_15.8_lon_100.167_400201','_Nan_lat_18.464_lon_100.46_331201','_NanAgromet_lat_18.52_lon_100.45_331301',
     '_Phayao_lat_19.8_lon_99.54_310201','_Phayao_lat_19.8_lon_99.54_310201','_Phitsanulok_lat_16.47_lon_100.16_378201',
     '_Phrae_lat_18.1_lon_100.1_330201','_PichitAgromet_lat_16.261_lon_100.173_386301','_SiSamrongAgromet_lat_17.1_lon_99.52_373301',
     '_Sukhothai_lat_17.622_lon_99.48_373201','_Tak_lat_16.524_lon_99.836_376201','_TakFaAgromet_lat_15.37_lon_100.46_400301',
     '_ThaWangPha_lat_19.638_lon_100.489_331401','_ThungChang_lat_19.244_lon_100.537_331402','_Umphang_lat_16.057_lon_98.515_376401',
     '_Uttaradit_lat_17.37_lon_100.6_351201','_WichianBuri_lat_15.392_lon_101.63_379402']
     
summr= df.iloc[0:1].drop(0)
for n in data :
    for i in number :
        if(i <= 2012):
            df = pd.read_excel (str(i)+n+'.xlsx',header=1)
        else:
            df = pd.read_excel (str(i)+n+'.xlsx',header=0)
        name = n.split("_")[1]
        df['station'] = name

        summr = summr.append(df)
summr

,year,month,day,อุณหภูมิสูงสุด(C),อุณหภูมิต่ำสุด(C),อุณหภูมิเฉลี่ย (สูงสุด+ต่ำสุด)/2(C),อุณหภูมิตุ้มแห้ง(C),อุณหภูมิต่ำสุดยอดหญ้า(C),อุณหภูมิผิวหน้าน้ำสูงสุด(C),อุณหภูมิผิวหน้าน้ำต่ำสุด(C),ความชื้นสัมพัทธ์(%),ทิศทางลมสูงสุด(Deg.),ความเร็วลมสุงสุด(Kts.),ลมเหนือถาด(Km.),น้ำระเหยถาด(mm.),ปริมาณฝน(mm.),station,\n_x000D_
0,1993,1,1,30.3,18.0,NaN,22.8,NaN,NaN,NaN,81.0,240,5,30,1.3,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,BhumibolDam,NaN
1,1993,1,2,30.5,18.9,NaN,23.6,NaN,NaN,NaN,79.0,90,8,31,4.9,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,BhumibolDam,NaN
2,1993,1,3,31.7,18.9,NaN,23.9,NaN,NaN,NaN,74.0,270,6,32,2.6,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,BhumibolDam,NaN
3,1993,1,4,31.3,18.2,NaN,23.1,NaN,NaN,NaN,75.0,250,8,36,3.6,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,BhumibolDam,NaN
4,1993,1,5,30.7,18.5,NaN,23.5,NaN,NaN,NaN,77.0,240,7,35,4.3,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,BhumibolDam,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2019,12,27,32.9,20.9,26.9,26.6,-,31.9,19.9,64,50,4,-,4.2,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,WichianBuri,NaN
361,2019,12,28,32.8,22.5,27.7,26.7,-,32.9,22.2,62,70,5,-,5.4,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,WichianBuri,NaN
362,2019,12,29,33.1,20.0,26.6,26.1,-,32.5,19.0,63,10,5,-,4.0,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,WichianBuri,NaN
363,2019,12,30,34.2,19.6,26.9,26.5,-,32.9,18.8,63,30,4,-,5.3,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,WichianBuri,NaN
364,2019,12,31,34.0,19.6,26.8,27.0,-,33.5,19.0,63,30,5,-,4.7,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,WichianBuri,NaN

In [105]:
summr = summr.drop('\n_x000D_', axis=1)

In [97]:
summr.replace({
        '-':'NaN',
        '-':'NaN'
    }, inplace=True)
summr

,year,month,day,อุณหภูมิสูงสุด(C),อุณหภูมิต่ำสุด(C),อุณหภูมิเฉลี่ย (สูงสุด+ต่ำสุด)/2(C),อุณหภูมิตุ้มแห้ง(C),อุณหภูมิต่ำสุดยอดหญ้า(C),อุณหภูมิผิวหน้าน้ำสูงสุด(C),อุณหภูมิผิวหน้าน้ำต่ำสุด(C),ความชื้นสัมพัทธ์(%),ทิศทางลมสูงสุด(Deg.),ความเร็วลมสุงสุด(Kts.),ลมเหนือถาด(Km.),น้ำระเหยถาด(mm.),ปริมาณฝน(mm.),station,\n_x000D_
0,1993,1,1,30.3,18.0,NaN,22.8,NaN,NaN,NaN,81.0,240,5,30,1.3,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,BhumibolDam,NaN
1,1993,1,2,30.5,18.9,NaN,23.6,NaN,NaN,NaN,79.0,90,8,31,4.9,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,BhumibolDam,NaN
2,1993,1,3,31.7,18.9,NaN,23.9,NaN,NaN,NaN,74.0,270,6,32,2.6,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,BhumibolDam,NaN
3,1993,1,4,31.3,18.2,NaN,23.1,NaN,NaN,NaN,75.0,250,8,36,3.6,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,BhumibolDam,NaN
4,1993,1,5,30.7,18.5,NaN,23.5,NaN,NaN,NaN,77.0,240,7,35,4.3,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,BhumibolDam,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2019,12,27,32.9,20.9,26.9,26.6,NaN,31.9,19.9,64,50,4,NaN,4.2,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,WichianBuri,NaN
361,2019,12,28,32.8,22.5,27.7,26.7,NaN,32.9,22.2,62,70,5,NaN,5.4,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,WichianBuri,NaN
362,2019,12,29,33.1,20.0,26.6,26.1,NaN,32.5,19.0,63,10,5,NaN,4.0,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,WichianBuri,NaN
363,2019,12,30,34.2,19.6,26.9,26.5,NaN,32.9,18.8,63,30,4,NaN,5.3,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,WichianBuri,NaN
364,2019,12,31,34.0,19.6,26.8,27.0,NaN,33.5,19.0,63,30,5,NaN,4.7,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,WichianBuri,NaN

In [98]:
p.columns

Index(['year', 'month', 'day', ' อุณหภูมิสูงสุด(C) ', ' อุณหภูมิต่ำสุด(C) ',
       ' อุณหภูมิเฉลี่ย (สูงสุด+ต่ำสุด)/2(C) ', ' อุณหภูมิตุ้มแห้ง(C) ',
       ' อุณหภูมิต่ำสุดยอดหญ้า(C) ', ' อุณหภูมิผิวหน้าน้ำสูงสุด(C) ',
       ' อุณหภูมิผิวหน้าน้ำต่ำสุด(C) ', ' ความชื้นสัมพัทธ์(%) ',
       ' ทิศทางลมสูงสุด(Deg.) ', ' ความเร็วลมสุงสุด(Kts.) ',
       ' ลมเหนือถาด(Km.) ', ' น้ำระเหยถาด(mm.) ', ' ปริมาณฝน(mm.) ', 'station',
       '\n_x000D_'],
      dtype='object')

In [99]:
p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 295830 entries, 0 to 364
Data columns (total 18 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   year                                   295830 non-null  int64
 1   month                                  295830 non-null  int64
 2   day                                    295830 non-null  int64
 3    อุณหภูมิสูงสุด(C)                     286556 non-null  float64
 4    อุณหภูมิต่ำสุด(C)                     285968 non-null  float64
 5    อุณหภูมิเฉลี่ย (สูงสุด+ต่ำสุด)/2(C)   136505 non-null  float64
 6    อุณหภูมิตุ้มแห้ง(C)                   252700 non-null  float64
 7    อุณหภูมิต่ำสุดยอดหญ้า(C)              165637 non-null  float64
 8    อุณหภูมิผิวหน้าน้ำสูงสุด(C)           154385 non-null  float64
 9    อุณหภูมิผิวหน้าน้ำต่ำสุด(C)           154599 non-null  float64
 10   ความชื้นสัมพัทธ์(%)                   252720 non-null  float64
 11   ทิศทางลมสูงสุด(Deg.)                  253437 non-null  float64
 12   ความเร็วลมสุงสุด(Kts.)                253496 non-null  float64
 13   ลมเหนือถาด(Km.)                       216446 non-null  float64
 14   น้ำระเหยถาด(mm.)                      280931 non-null  float64
 15   ปริมาณฝน(mm.)                         289258 non-null  object
 16  station                                295830 non-null  object
 17
_x000D_                               0 non-null       float64
dtypes: float64(13), int64(3), object(2)
memory usage: 42.9+ MB

In [100]:
p = p.astype({ ' อุณหภูมิสูงสุด(C) ':'float'})
p = p.astype({ ' อุณหภูมิต่ำสุด(C) ':'float'})
p = p.astype({' อุณหภูมิเฉลี่ย (สูงสุด+ต่ำสุด)/2(C) ':'float'})
p = p.astype({ ' อุณหภูมิตุ้มแห้ง(C) ':'float'})
p = p.astype({' อุณหภูมิต่ำสุดยอดหญ้า(C) ':'float'})
p = p.astype({' อุณหภูมิผิวหน้าน้ำสูงสุด(C) ':'float'})
p = p.astype({' อุณหภูมิผิวหน้าน้ำต่ำสุด(C) ':'float'})
p = p.astype({' ความชื้นสัมพัทธ์(%) ':'float'})
p = p.astype({' ทิศทางลมสูงสุด(Deg.) ':'float'})
p = p.astype({' ความเร็วลมสุงสุด(Kts.) ':'float'})
p = p.astype({' ลมเหนือถาด(Km.) ':'float'})
p = p.astype({' น้ำระเหยถาด(mm.) ':'float'})

In [101]:
p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 295830 entries, 0 to 364
Data columns (total 18 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   year                                   295830 non-null  int64
 1   month                                  295830 non-null  int64
 2   day                                    295830 non-null  int64
 3    อุณหภูมิสูงสุด(C)                     286556 non-null  float64
 4    อุณหภูมิต่ำสุด(C)                     285968 non-null  float64
 5    อุณหภูมิเฉลี่ย (สูงสุด+ต่ำสุด)/2(C)   136505 non-null  float64
 6    อุณหภูมิตุ้มแห้ง(C)                   252700 non-null  float64
 7    อุณหภูมิต่ำสุดยอดหญ้า(C)              165637 non-null  float64
 8    อุณหภูมิผิวหน้าน้ำสูงสุด(C)           154385 non-null  float64
 9    อุณหภูมิผิวหน้าน้ำต่ำสุด(C)           154599 non-null  float64
 10   ความชื้นสัมพัทธ์(%)                   252720 non-null  float64
 11   ทิศทางลมสูงสุด(Deg.)                  253437 non-null  float64
 12   ความเร็วลมสุงสุด(Kts.)                253496 non-null  float64
 13   ลมเหนือถาด(Km.)                       216446 non-null  float64
 14   น้ำระเหยถาด(mm.)                      280931 non-null  float64
 15   ปริมาณฝน(mm.)                         289258 non-null  object
 16  station                                295830 non-null  object
 17
_x000D_                               0 non-null       float64
dtypes: float64(13), int64(3), object(2)
memory usage: 42.9+ MB

In [102]:
for i in range(len(summr)):
    a = summr[' ปริมาณฝน(mm.) '].iloc[i]
    a = a.split("\t")[0]
    summr[' ปริมาณฝน(mm.) '].iloc[i] = a
summr = summr[(summr[' ปริมาณฝน(mm.) '] !='T') &(summr[' ปริมาณฝน(mm.) '] !='-')]
summr = summr.astype({' ปริมาณฝน(mm.) ':'float'})
summr

C:\Users\pploy\AppData\Local\Programs\Orange\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

AttributeError: 'float' object has no attribute 'split'

In [106]:
summr

,year,month,day,อุณหภูมิสูงสุด(C),อุณหภูมิต่ำสุด(C),อุณหภูมิเฉลี่ย (สูงสุด+ต่ำสุด)/2(C),อุณหภูมิตุ้มแห้ง(C),อุณหภูมิต่ำสุดยอดหญ้า(C),อุณหภูมิผิวหน้าน้ำสูงสุด(C),อุณหภูมิผิวหน้าน้ำต่ำสุด(C),ความชื้นสัมพัทธ์(%),ทิศทางลมสูงสุด(Deg.),ความเร็วลมสุงสุด(Kts.),ลมเหนือถาด(Km.),น้ำระเหยถาด(mm.),ปริมาณฝน(mm.),station
0,1993,1,1,30.3,18.0,NaN,22.8,NaN,NaN,NaN,81.0,240,5,30,1.3,0.0,BhumibolDam
1,1993,1,2,30.5,18.9,NaN,23.6,NaN,NaN,NaN,79.0,90,8,31,4.9,0.0,BhumibolDam
2,1993,1,3,31.7,18.9,NaN,23.9,NaN,NaN,NaN,74.0,270,6,32,2.6,0.0,BhumibolDam
3,1993,1,4,31.3,18.2,NaN,23.1,NaN,NaN,NaN,75.0,250,8,36,3.6,0.0,BhumibolDam
4,1993,1,5,30.7,18.5,NaN,23.5,NaN,NaN,NaN,77.0,240,7,35,4.3,0.0,BhumibolDam
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2019,12,27,32.9,20.9,26.9,26.6,NaN,31.9,19.9,64,50,4,NaN,4.2,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,WichianBuri
361,2019,12,28,32.8,22.5,27.7,26.7,NaN,32.9,22.2,62,70,5,NaN,5.4,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,WichianBuri
362,2019,12,29,33.1,20.0,26.6,26.1,NaN,32.5,19.0,63,10,5,NaN,4.0,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,WichianBuri
363,2019,12,30,34.2,19.6,26.9,26.5,NaN,32.9,18.8,63,30,4,NaN,5.3,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,WichianBuri
364,2019,12,31,34.0,19.6,26.8,27.0,NaN,33.5,19.0,63,30,5,NaN,4.7,0.0\t_x000D_\n_x000D_\n_x000D_\n_x000D_\n_x000...,WichianBuri

In [104]:
summr.to_csv('season.csv')